# vivo PD1936 platform services
# Crypto services (qseecomd, keymaster, gatekeeper, prepdecrypt) are defined in
# init.recovery.qcom_decrypt.rc and init.recovery.qcom_decrypt.fbe.rc
# This file only contains non-crypto platform services

# Fastboot mode support
on property:recovery.fastboot_mode=1
    start vendor.boot-hal-1-0
    start health-hal-2-0

# Touchscreen firmware update trigger
on property:vts_app_recovery.status=run
    start touchupdate
    setprop vts_app_recovery.status running

# Boot HAL service (for fastboot mode)
service vendor.boot-hal-1-0 /vendor/bin/hw/android.hardware.boot@1.0-service
    disabled
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0

# Health HAL service (for fastboot mode)
service health-hal-2-0 /vendor/bin/hw/android.hardware.health@2.0-service
    disabled
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0

# vivo GuardianAngle service
service guardianangle /system/bin/guardianangle
    disabled
    user root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0
